@import "colors.scss";

.row {
    display: block;
    margin-top: 20px;
}

input[type=checkbox].toggle_button {
    display: none;
}

.toggle_button + label {
    display: block;

    & > .switch {
        display: inline-block;
        width: 50px;
        color: $interface-font-color;
        box-shadow: 0 1px 0 $interface-border-color;
        vertical-align: middle;
        text-decoration: none;
        font-size: 13px;
        line-height: 28px;
        height: 28px;
        margin: 0 5px 4px 0;
        margin-right: 5px;
        padding: 0 10px 1px;
        cursor: pointer;
        border: 1px solid $interface-border-color;
        border-radius: 25px;
        white-space: nowrap;
        box-sizing: border-box;
        position: relative;
        transition: background-color .2s;
        background-color: $palette-red;

        & > .handle {
            display: inline-block;
            height: 100%;
            width: 30px;
            position: absolute;
            left: -1px;
            top: -1px;
            border-radius: 25px;
            border: 1px solid #ccc;
            background-color: #fff;
            -webkit-transition: left .2s; /* Safari */
            transition: left .2s;
            font-family: fontawesome;
            text-align: center;
        }
    }
}

.toggle_button:checked + label > .switch {
    background-color: green;
}

.toggle_button + label > .switch > .handle:before {
    content: "\f0c9";
}   

.toggle_button:checked + label > .switch > .handle {
    left: 20px;
}

.toggle_button:checked + label {
    display: block;
}
